<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>

	<div class="container">

		<h1>Lista Empleados / Usuario</h1>

		<table class="table table-striped">
			<thead>
				<tr>

					<th scope="col">#</th>
					<th scope="col">Username</th>
					<th scope="col">Nombre</th>
				</tr>
			</thead>
			<tbody th:each="medico: ${empleados}">
				<tr>
					<td th:text="${medico.id}">Mark</td>
					<td th:text="${medico.username}">Otto</td>
					<td th:text="${medico.nombre}">Prro</td>
				</tr>
			</tbody>
		</table>
		<div class="card-footer text-muted">

				<button class="btn btn-primary" onclick="javascript:history.back()">Regresar</button> 
				
		</div>
		

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>