<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "layout/layout :: head"></head>
<body>
<header th:replace = "layout/layout :: header"></header>

<div class = "container">

	<h1>Lista Pedidos</h1>
	
	<table class="table table-striped">
					<thead>
						<tr>
	
							<th scope="col">#</th>
							<th scope="col">Nombre</th>
							<th scope="col">Estado</th>
						</tr>
					</thead>
					<tbody th:each="medico: ${detallesPedido}">
						<tr>
							
							<td th:text="${medico.plato.nombre}">Mark</td>
							<td th:text="${medico.estado}">Otto</td>
						
						<td>
								<a th:href="@{ '/usuario/pedido/info/' + ${medico.id} }" class="btn btn-info"> 
									<i class="fas fa-info"></i> 
								</a>
								<a  th:href="@{ '/usuario/pedido/confirmar/' + ${medico.id} }" class="btn btn-warning"> 
									<i class="fas fa-edit"></i> 
								</a>
								<a  th:href="@{ '/usuario/pedido/delete/' + ${medico.id} }" class="btn btn-danger"> 
									<i class="fas fa-trash-alt"></i> 
								</a>							
						</td>
						</tr>						
					</tbody>
				</table>
				
				
</div>

<footer th:replace = "layout/layout :: footer"></footer>
</body>
</html>